### ===========================================
### Shared Configuration
### ===========================================
environment                                        = "dev"
project                                            = "project-id"
region                                             = "us-central1"
zone                                               = "us-central1-a"
google_cloud_location                              = "global"
agent_name                                         = "agent-name"
otel_instrumentation_genai_capture_message_content = "TRUE"
workload_identity_pool_principal_identifier        = "principalSet://iam.googleapis.com/projects/123456/locations/global/workloadIdentityPools/your-wif-pool/attribute.repository/your-github-username-or-org/your-agent-repository"


### ===========================================
### Terraform Configuration
### ===========================================
terraform_state_bucket = "terraform-state-agent-name-abcd1234"

### Deploy a specific image by URI, leave unset to use the last deployed image
# docker_image = "us-central1-docker.pkg.dev/project-id/agent-name/image-name@sha256:12345...."


### ===========================================
### Optional Agent App Runtime Configuration
### ===========================================
# log_level                                  = "DEBUG"
# serve_web_interface                        = "TRUE"
# adk_suppress_experimental_feature_warnings = "TRUE"
